* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1818;
}

hr {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

h1 {
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
  margin-top: 10px;
  padding-left: 30px;
}

main {
  font-family: "Titillium Web", sans-serif;
  color: #e9eaec;
  text-align: center;
}

header {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 5fr;
  padding: 1rem;
  margin: 1rem;
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 480px) {
  header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 780px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0%;
    padding: 5px;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 20px;
    background-color: #1f1818;
    border-radius: 5px;
  }
}
header #logo {
  justify-self: start;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 480px) {
  header #logo {
    justify-self: center;
  }
}
@media (min-width: 780px) {
  header #logo {
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  header #logo {
    margin-right: 10px;
  }
}
header #logo #logoPag {
  border-style: solid;
  border-radius: 50%;
  height: 95px;
  width: 95px;
  border-color: #f8c783;
}
@media (min-width: 780px) {
  header #logo #logoPag {
    height: 70px;
    width: 70px;
  }
}
header #titulo {
  display: block;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
  margin-top: 10px;
  padding-left: 30px;
}
@media (min-width: 780px) {
  header #titulo {
    text-align: left;
    grid-column-start: none;
    grid-column-end: none;
    padding-left: 10px;
  }
}
@media (min-width: 1024px) {
  header #titulo {
    text-align: left;
    margin: 0px;
    margin-top: 0px;
    padding-left: 5px;
  }
}

nav {
  justify-content: center;
  list-style-type: none;
  text-align: center;
  grid-column: span 2;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
  padding: 0;
  list-style: none;
}
@media (min-width: 480px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 780px) {
  nav ul {
    margin: 0%;
    padding: 0%;
  }
}
@media (min-width: 1024px) {
  nav ul {
    padding-left: 20px;
  }
}
nav ul .itemNav {
  display: inline-block;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}
nav ul .itemNav a {
  padding: 6px 16px 6px 16px;
  background-color: #333333;
  border: 1.5px solid #ffffff;
  border-radius: 2rem;
  text-decoration: none;
  color: #f8c783;
}
@media (min-width: 1024px) {
  nav ul .itemNav a {
    border: solid #ffffff;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  nav ul .itemNav a:hover {
    background-color: #fae6d0;
    color: #1f1818;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 10px;
  background-color: #1f1818;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
footer div {
  text-align: center;
  font-size: 18px;
}
footer div p {
  font-size: 14px;
  color: #e9eaec;
  padding-top: 25px;
  text-align: center;
}
footer div i {
  font-size: 50px;
}
@media (min-width: 1024px) {
  footer div i {
    font-size: 70px;
  }
}
footer h3 {
  text-align: center;
}
footer #footer-gridcont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1fr;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}
footer #footer-gridcont #facebook a {
  color: rgb(73, 154, 247);
}
footer #footer-gridcont #Instagram a {
  color: rgb(197, 124, 226);
}
footer #footer-gridcont #Youtube a {
  color: rgb(221, 73, 73);
}
footer #footer-gridcont #twitter a {
  color: rgb(107, 252, 252);
  border-radius: 50%;
}

#eslogan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 480px) {
  #eslogan h2 {
    font-size: 30px;
  }
  #eslogan h3 {
    font-size: 25px;
  }
  #eslogan p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  #eslogan {
    background-image: url(../../imagenes/perfil-graduado.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: left;
    font-size: 25px;
    padding: 20px;
    justify-content: left;
  }
}
#eslogan div {
  width: 100%;
}
@media (min-width: 480px) {
  #eslogan div {
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  #eslogan div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100%;
  }
}
#eslogan div h2 {
  text-align: center;
}
@media (min-width: 1024px) {
  #eslogan div h2 {
    font-size: 30px;
    background-color: rgba(31, 23, 23, 0.4431372549);
    color: #e9eaec;
  }
}
#eslogan div p {
  text-align: center;
}
@media (min-width: 1024px) {
  #eslogan div p {
    background-color: rgba(31, 23, 23, 0.4431372549);
    font-size: 20px;
  }
}
#eslogan div img {
  width: 100%;
  padding: 10px;
}
@media (min-width: 1024px) {
  #eslogan div img {
    display: none;
  }
}

@media (min-width: 480px) {
  .textos-inicio {
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .textos-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 10px;
    font-size: 20px;
  }
  .textos-inicio span {
    display: block;
    font-weight: bold;
    color: #333333;
    font-size: 30px;
    margin-top: 30px;
  }
}
.textos-inicio div p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.textos-inicio div input {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #1f1818;
  width: 45%;
  border-radius: 5px;
  border: solid;
  border-color: #f8c783;
  color: #e9eaec;
  padding: 10px 20px;
}
@media (min-width: 1024px) {
  .textos-inicio div input {
    width: auto;
  }
  .textos-inicio div input:hover {
    background-color: #f8c783;
    color: #1f1818;
    border-style: double;
    border-radius: 5px;
    border-color: #1f1818;
  }
}

#imagenes-inicio {
  width: 100%;
  padding: 10px;
}
@media (min-width: 780px) {
  #imagenes-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  #imagenes-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    margin: auto;
  }
}
#imagenes-inicio h2 {
  text-decoration: underline;
  margin-bottom: 20PX;
}

#img-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
@media (min-width: 780px) {
  #img-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  #img-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    gap: 0px;
  }
  #img-cont #img1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50%;
  }
  #img-cont #img2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50%;
    height: 408px;
  }
  #img-cont #img3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 1000px;
  }
  #img-cont #img4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
  }
  #img-cont #img5 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 50%;
  }
  #img-cont #img6 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 80%;
  }
}

.img-inicio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-inicio:focus {
  width: 200%;
}

#vid-muest {
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  #vid-muest div {
    margin-left: 65px;
    margin-right: 65px;
  }
}

#vid-muest iframe {
  padding: 10px;
}
@media (min-width: 780px) {
  #vid-muest iframe {
    padding: 0%;
    width: auto;
  }
}
@media (min-width: 1024px) {
  #vid-muest iframe {
    width: 100%;
  }
}

#main-ingres {
  background-color: #1f1818;
  font-size: 20px;
  margin: 10px;
}
@media (min-width: 1024px) {
  #main-ingres {
    margin: 20px;
  }
}

#ingre1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin: 25px;
  padding: 15px;
}
@media (min-width: 1024px) {
  #ingre1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
  }
}

#img-ingreso {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: auto;
}
@media (min-width: 780px) {
  #img-ingreso {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  #img-ingreso {
    width: 100%;
    margin: 20px;
  }
}
#img-ingreso img {
  width: 100%;
}

#text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tem-dur {
  background-color: #333333;
  margin: 10px;
  padding: 10px;
}
#tem-dur h2 {
  color: #f8c783;
}
#tem-dur a {
  color: #333333;
  background-color: #f8c783;
  border-radius: 5px;
  text-decoration: none;
}

#datos-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  gap: 25px;
  padding: 10px;
}
#datos-ul div ul {
  list-style: none;
}

#datos-extra {
  margin: 20px;
  background-color: #fae6d0;
  color: #333333;
  border-style: solid;
  border-radius: 5px;
  border-color: #f8c783;
  width: 100%;
  padding: 10px;
}
@media (min-width: 780px) {
  #datos-extra {
    width: 750px;
  }
}

#es-si {
  margin: 20px;
  background-color: #fae6d0;
  color: #333333;
  border-style: solid;
  border-radius: 5px;
  border-color: #f8c783;
  width: 100%;
  height: auto;
  padding: 10px;
}
@media (min-width: 780px) {
  #es-si {
    width: 750px;
  }
}
#es-si a {
  text-align: center;
  color: #ece056;
  background-color: #1F1717;
  border-radius: 5px;
  margin: 15px;
}

#inscribite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#main-cursos {
  background-color: #1f1818;
}

.secciones-cursos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  gap: 10px;
}
@media (min-width: 780px) {
  .secciones-cursos {
    margin: 45px;
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .secciones-cursos {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    margin: 40px;
    gap: 10px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    padding: 25px;
  }
}

@media (min-width: 1024px) {
  .titu-curso {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }
  .titu-curso h2 {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
  }
  .texto-curso {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .mod-y-dur {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #333333;
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
  }
}
.img-curso {
  width: auto;
}
@media (min-width: 1024px) {
  .img-curso {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (min-width: 1024px) {
  .link-cursos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
.link-cursos a {
  color: #f8c783;
  background-color: #333333;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

section div img {
  width: 100%;
}

#barista {
  width: auto;
  height: 1200px;
}
#barista .img-curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#barista .img-curso img {
  width: 300px;
  height: 400px;
}
@media (min-width: 1024px) {
  #barista .img-curso img {
    width: 400px;
    height: 600px;
  }
}

#flair .img-curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#flair .img-curso img {
  width: 300px;
  height: 500px;
}

#sucursales {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 25px;
}
@media (min-width: 780px) {
  #sucursales {
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  #sucursales {
    gap: 30px;
  }
}
#sucursales h2 {
  font-size: 35px;
  color: #e9eaec;
  text-decoration: underline;
  text-decoration-color: #e9eaec;
}
#sucursales div {
  width: 500px;
}
@media (min-width: 1024px) {
  #sucursales div {
    width: 100%;
  }
}
#sucursales div p {
  font-size: 25px;
  margin-bottom: 60px;
  background-color: #333333;
  margin-left: 65px;
  margin-right: 65px;
  border-style: solid;
}
#sucursales .iframe-mapas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#sucursales .iframe-mapas iframe {
  width: auto;
}
@media (min-width: 780px) {
  #sucursales .iframe-mapas iframe {
    width: 100%;
  }
}

#medios-contacto {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 200px;
}
#medios-contacto p {
  font-size: 25px;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  gap: 25px;
  background-color: #fae6d0;
  color: #333333;
}
#formulario h2 {
  text-decoration: underline;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
#form div label {
  margin: 20px;
  font-weight: bold;
  background-color: #333333;
  border-style: solid;
  border-radius: 5px;
  border-color: #f8c783;
  color: #ffffff;
  padding: 5px;
}
#form #text {
  width: 100%;
  height: 8rem;
  text-wrap: wrap;
  background-color: #1f1818;
  border-style: solid;
  border-color: #f8c783;
  border-radius: 5px;
  margin-top: 10px;
  text-indent: 25%;
}
#form #boton-cont {
  width: 100%;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: #1f1818;
  color: #f8c783;
  border-color: #f8c783;
  margin-top: 10px;
}
#form #correo {
  background-color: #1f1818;
  color: #f8c783;
  border-color: #f8c783;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  margin-top: 10px;
}
#form #nom-ape {
  background-color: #1f1818;
  color: #f8c783;
  border-color: #f8c783;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  margin-top: 10px;
}

#trayectoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 10px;
  border-color: #f8c783;
  border-style: solid;
  border-radius: 5px;
}

#tutores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 10px;
  border-color: #f8c783;
  border-style: solid;
  border-radius: 5px;
  gap: 15px;
}
@media (min-width: 1024px) {
  #tutores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

#perfiles-tutores {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: auto;
  font-weight: bold;
}
@media (min-width: 480px) {
  #perfiles-tutores {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 35px;
    padding: 20px;
    width: 50%;
  }
}
@media (min-width: 780px) {
  #perfiles-tutores {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
  }
}
@media (min-width: 1024px) {
  #perfiles-tutores {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    margin: 40px;
    gap: 25px;
    width: auto;
  }
}
#perfiles-tutores div {
  display: grid;
}
@media (min-width: 480px) {
  #perfiles-tutores div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#perfiles-tutores div p {
  font-size: 30px;
}
#perfiles-tutores div img {
  width: 100%;
  height: 100%;
  align-items: center;
}
@media (min-width: 480px) {
  #perfiles-tutores div img {
    width: 100%;
    height: auto;
  }
}

#profe1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#prof1-texto {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 780px) {
  #prof1-texto {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #prof1-texto p {
    margin: 20px;
    border-style: double;
    border-color: #ffffff;
  }
}
@media (min-width: 1024px) {
  #prof1-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

#profe2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 780px) {
  #profe2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (min-width: 1024px) {
  #profe2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

#prof2-texto {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 780px) {
  #prof2-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #prof2-texto p {
    margin: 20px;
    border-style: double;
    border-color: #ffffff;
  }
}
@media (min-width: 1024px) {
  #prof2-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

#profe3 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 780px) {
  #profe3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (min-width: 1024px) {
  #profe3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

#prof3-texto {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 780px) {
  #prof3-texto {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #prof3-texto p {
    margin: 20px;
    border-style: double;
    border-color: #ffffff;
  }
}
@media (min-width: 1024px) {
  #prof3-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

#auspiciantes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  padding: 10px;
  border-color: #f8c783;
  border-style: solid;
  border-radius: 5px;
  gap: 15px;
}
#auspiciantes li {
  list-style: none;
}
#auspiciantes div a {
  display: block;
  font-size: 25px;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #333333;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

#marcas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin: 35px;
}
@media (min-width: 780px) {
  #marcas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
#marcas img {
  width: 150px;
  height: 150px;
}
@media (min-width: 480px) {
  #marcas img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 780px) {
  #marcas img {
    width: 150px;
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
