* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  /*el asterisco engloba a todos los elementos*/



body {
    background-color: #1f1818;
}

    /* paleta de colores:
    .color1 {color: #f1a774;}  naranja
    .color2 {color: #ece056;}  amarillo
    .color3 {color: #2f0d07;}  marron
    .color4 {color: #887771;}  gris
    .color5 {color: #f3eae8;}  blanco
    */


                                                            /*CODIGO VERSION MOBILE*/


            /*comienzo estilo header MOBILE*/
header {                         
    display: grid;
    padding: 1rem;
    margin: 1rem;
    grid-template-columns: 1fr  ;
    grid-template-rows: 2fr 5fr ;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
}

header #logo {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 2;
}

header #titulo {
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
    margin-top: 10px;
    padding-left: 30px;
}



#logoPag {

    border-style: solid;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    border-color: #f3eae8;
}



header nav {


    justify-content: center;
    list-style-type: none;
    text-align: center;
    grid-column: span 2;

}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px;
	padding: 0;
	list-style: none;
}

.itemNav {
    display: inline-block;
	line-height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.itemNav a {
    padding: 6px 16px 6px 16px;
    background-color: #1F1717;
    border: 1.5px solid #e9eaec ;
    border-radius:2rem;
    text-decoration:none;
    color: #f8c783;
}

        

            /* finaliza estilo header mobile*/   
            /*comienza estilo main mobile*/

main {
    font-family: "Titillium Web", sans-serif;
    color: #e9eaec;
}
    /*index*/
#eslogan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#eslogan div {
    width: 100%;
}

#eslogan div h2 {
    text-align: center;
}

#eslogan div p {
    text-align: center;
}

#eslogan div img {
    width: 100%;
    padding: 10px;
}

.textos-inicio {
    text-align: center;
}

.textos-inicio div p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.textos-inicio div input {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #1F1717;
    width: 45%;
    border-radius: 5px;
    border: solid;
    border-color: #f8c783;
    padding: 10px 20px;
    color: #ffffff;
}

#imagenes-inicio {
    width: 100%;
    padding: 10px;
    color: #e9eaec;
    text-align: center;
}

#imagenes-inicio h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20PX;
}

#img-cont {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.img-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-inicio:focus {
    width: 200%;
}

#vid-muest {
    width: 100%;
    text-align: center;

}

#vid-muest iframe {
    padding:  10px;
}


img {
    width: 100%;
}

iframe {
    width: 100%;
}



hr {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}
    /*finaliza index*/
    /*comienza estilos ingresantes*/

#main-ingres {
    background-color: #1F1717;
    color: #e9eaec;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#ingre1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 25px;
}

#img-ingreso {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    width: auto;
}

#img-ingreso img {
    width: 100%;
}

#text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tem-dur {
    background-color: #333333;
    margin: 10px;
}

#tem-dur h2 {
    color: #f8c783;
}

#tem-dur a {
    color: #333333;
    background-color: #f8c783;
    border-radius: 5px;
    text-decoration: none;
}

#datos-ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

#datos-ul div ul {
    list-style: none;
}

#datos-extra {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 100%;
}

#es-si {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 100%;
    height: auto;
}

#es-si a {
    text-align: center;
    color: #ece056;
    background-color: #1F1717;
    border-radius: 5px;
    margin: 15px;
    
}
#inscribite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*finaliza estilos ingresantes*/
/*comienza estilo sobre nosotros*/

#main-nos {
    background-color: #1F1717;
    color: #e9eaec;
}

#trayectoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
}

#tutores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

#perfiles-tutores {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: auto;
    font-weight: bold;
}

#perfiles-tutores div {
    display: grid;
}

#perfiles-tutores div p {
    font-size: 30px;
    text-align: center;
}


#perfiles-tutores div img {
    width: 100%;
    height: 100%;
    align-items: center;
}

#profe1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof1-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}

#profe2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof2-texto {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;

}

#profe3 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;

}


#prof3-texto {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;

}

#auspiciantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

#auspiciantes div a {
    display: block;
    font-size: 25px;
    color: #e9eaec;
    border-radius: 5px;
    border-style: solid;
    border-color: #e9eaec;
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

#marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    margin: 35px;
}

#marcas img {
    width: 150px;
    height: 150px;
}


#auspiciantes li {
    list-style: none;
}
/*finaliza estilo sobre nosotros*/
/*comienza estilo cursos */

#main-cursos {
    background-color: #1F1717;
    color: #e9eaec;
}

.secciones-cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.titu-curso {
    text-align: center;
}

.texto-curso {
    text-align: center;

}

.img-curso {
    width: auto;

}

.mod-y-dur {
    text-align: center;

}

.link-cursos {
    text-align: center;

}

.link-cursos a {
    color: #f8c783;
    background-color: #333333;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;

}

section div img {
    width: 100%;
}
#barista .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#barista img {

    width: 300px;
    height: 400px;
}

#flair .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flair img {

    width: 300px;
    height: 500px;
}

/*finaliza estilo cursos*/
/*comienza estilo contacto*/

/*finaliza estilo contacto*/


            /*comienza estilo footer mobile*/
footer {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1F1717;
    color: #e9eaec;
    font-family: "Titillium Web", sans-serif;
    margin-top: 15px;

}


footer div {
    text-align: center;
    font-size: 18px;
    text-shadow: #ece056;
}

footer h3 {
    text-align: center;
}

#footer-gridcont {
    display: flex;
    width: 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

#footer-gridcont div i {

    font-size: 50px;
}
#footer-gridcont #facebook a {
    color: rgb(73, 154, 247);

}

#footer-gridcont #Instagram a {
    color: rgb(197, 124, 226);
}

#footer-gridcont #Youtube a {
    color: rgb(221, 73, 73);

}

#footer-gridcont #twitter a {
    color: rgb(107, 252, 252);
    border-radius: 50%;

}


footer div p {
    font-size: 14px;
    color:#f3eae8c7;
    padding-top: 25px;
    text-align: center;
}
            /*finaliza estilo footer*/





@media (min-width:480px) {                             /* madiaquery smartphone y tablets */

                /*comienzo estilo header*/
header {                         
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 5fr ;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
}

header #logo {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

header #titulo {
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    font-size: 35px;
    color: #ffffff;
    margin-top: 10px;
    padding-left: 20px;
}



#logoPag {

    border-style: solid;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    border-color: #f3eae8;
}



header nav {
    justify-content: center;
    list-style-type: none;
    text-align: center;
    grid-column: span 2;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px;
	padding: 0;
	list-style: none;
}

.itemNav {
    display: inline-block;
	line-height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.itemNav a {
    padding: 6px 16px 6px 16px;
    background-color: #1F1717;
    border: 1.5px solid #e9eaec ;
    border-radius:2rem;
    text-decoration:none;
    color: #f8c783;
}

        

            /* finaliza estilo header SMARTPHONE-TABLETS*/   
            /*comienza estilo main SMARTPHONE-TABLETS*/

main {
    font-family: "Titillium Web", sans-serif;
    color: #e9eaec;
}
    /*index*/

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}
#eslogan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#eslogan div {
    width: 100%;
    padding: 10px;
}

#eslogan div h2 {
    text-align: center;
}

#eslogan div p {
    text-align: center;
}

#eslogan div img {
    width: 100%;
    padding: 10px;
}

.textos-inicio {
    text-align: center;
    padding: 10px;
}

.textos-inicio div p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.textos-inicio div input {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #1F1717;
    width: 45%;
    border-radius: 5px;
    border: solid;
    border-color: #f8c783;
    padding: 10px 20px;
    color: #ffffff;
}

#imagenes-inicio {
    width: 100%;
    padding: 10px;
    color: #e9eaec;
    text-align: center;
}

#imagenes-inicio h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20PX;
}

#img-cont {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.img-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-inicio:focus {
    width: 200%;
}

#vid-muest {
    width: 100%;
    text-align: center;

}

#vid-muest iframe {
    padding:  10px;
}


img {
    width: 100%;
}

iframe {
    width: 100%;
}



hr {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}
    /*finaliza index*/
    /*comienza estilos ingresantes*/

#main-ingres {
    background-color: #1F1717;
    color: #e9eaec;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#ingre1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 25px;
}

#img-ingreso {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    width: auto;
}

#img-ingreso img {
    width: 100%;
}

#text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tem-dur {
    background-color: #333333;
    margin: 10px;
}

#tem-dur h2 {
    color: #f8c783;
}

#tem-dur a {
    color: #333333;
    background-color: #f8c783;
    border-radius: 5px;
    text-decoration: none;
}

#datos-ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

#datos-ul div ul {
    list-style: none;
}

#datos-extra {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 100%;
}

#es-si {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 100%;
    height: auto;
}

#es-si a {
    text-align: center;
    color: #ece056;
    background-color: #1F1717;
    border-radius: 5px;
    margin: 15px;
    
}
#inscribite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*finaliza estilos ingresantes*/
/*comienza estilos sobre nosotros*/

#main-nos {
    background-color: #1F1717;
    color: #e9eaec;
}

#trayectoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

#tutores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

#perfiles-tutores {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: auto;
    font-weight: bold;
}

#perfiles-tutores div {
    display: grid;
}

#perfiles-tutores div p {
    font-size: 30px;
    text-align: center;
}


#perfiles-tutores div img {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 25px;
}

#profe1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof1-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}

#profe2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof2-texto {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;

}

#profe3 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;

}


#prof3-texto {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;

}

#auspiciantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

#auspiciantes div a {
    display: block;
    font-size: 25px;
    color: #e9eaec;
    border-radius: 5px;
    border-style: solid;
    border-color: #e9eaec;
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

#marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    margin: 35px;
}

#marcas img {
    width: 150px;
    height: 150px;
}


#auspiciantes li {
    list-style: none;
}

/*finaliza estilos sobre nosotros*/
/*comienza estilos cursos*/

#main-cursos {
    background-color: #1F1717;
    color: #e9eaec;
}

.secciones-cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.titu-curso {
    text-align: center;
}

.texto-curso {
    text-align: center;

}

.img-curso {
    width: auto;

}

.mod-y-dur {
    text-align: center;

}

.link-cursos {
    text-align: center;

}

.link-cursos a {
    color: #f8c783;
    background-color: #333333;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;

}

section div img {
    width: 100%;
}
#barista .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#barista img {

    width: 300px;
    height: 400px;
}

#flair .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flair img {

    width: 300px;
    height: 500px;
}

/*finaliza estilos cursos*/
/*comienza estilos contacto*/

            /*comienza estilo footer SMARTPHONE-TABLETS*/
footer {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1F1717;
    color: #e9eaec;
    font-family: "Titillium Web", sans-serif;
    margin-top: 15px;

}


footer div {
    text-align: center;
    font-size: 18px;
    text-shadow: #ece056;
}

footer h3 {
    text-align: center;
}

#footer-gridcont {
    display: flex;
    width: 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

#footer-gridcont div i {

    font-size: 50px;
}
#footer-gridcont #facebook a {
    color: rgb(73, 154, 247);

}

#footer-gridcont #Instagram a {
    color: rgb(197, 124, 226);
}

#footer-gridcont #Youtube a {
    color: rgb(221, 73, 73);

}

#footer-gridcont #twitter a {
    color: rgb(107, 252, 252);
    border-radius: 50%;

}


footer div p {
    font-size: 14px;
    color:#f3eae8c7;
    padding-top: 25px;
    text-align: center;
}
            /*finaliza estilo footer*/


}

@media (min-width:780px) {                                       /*mediaquery tablets grandes  */

            /*comienzo estilo header DISP.TACT.GRAN-TAMAÑO*/
header {                         
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 5px;

}

header #logo {
    justify-self: center;
}

header #titulo {
    align-items: center;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    padding-left: 10px;
}



#logoPag {

    border-style: solid;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border-color: #f3eae8;
}



header nav {
    justify-content: center;
    list-style-type: none;
    text-align: center;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    margin: 0%;
	padding: 0%;
	list-style: none;
}

.itemNav {
    display: inline-block;
	line-height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.itemNav a {
    padding: 6px 16px 6px 16px;
    background-color: #1F1717;
    border: 1.5px solid #e9eaec ;
    border-radius:2rem;
    text-decoration:none;
    color: #f8c783;
}

        

            /* finaliza estilo header DISP.TACT.GRAN-TAMAÑO*/   
            /*comienza estilo main DISP.TACT.GRAN-TAMAÑO*/

main {
    font-family: "Titillium Web", sans-serif;
    color: #e9eaec;
}


    /*comienza estilos index*/

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}
#eslogan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#eslogan div {
    width: 100%;
    padding: 10px;
}

#eslogan div h2 {
    text-align: center;
}

#eslogan div p {
    text-align: center;
}

#eslogan div img {
    width: 100%;
    padding: 10px;
}

.textos-inicio {
    text-align: center;
    padding: 10px;
}

.textos-inicio div p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.textos-inicio div input {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #1F1717;
    width: 45%;
    border-radius: 5px;
    border: solid;
    border-color: #f8c783;
    padding: 10px 20px;
    color: #ffffff;
}

#imagenes-inicio {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #e9eaec;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0%;

}

#imagenes-inicio h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20PX;
}

#img-cont {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(5,1fr);
    overflow: hidden;
    row-gap: 10px;
}

.img-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#img2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

#img3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

}

#img4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

}

#img5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

}

#img6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.img-inicio:focus {
    width: 200%;
}

#vid-muest {
    width: 100%;
    text-align: center;

}

#vid-muest iframe {
    padding: 0%;
    width: auto;
}


img {
    width: 100%;
}


hr {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}
    /*finaliza index*/
    /*comienza estilos ingresantes*/

#main-ingres {
    background-color: #1F1717;
    color: #e9eaec;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#ingre1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 25px;
}

#img-ingreso {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    width: 500px;
}

#img-ingreso img {
    width: 100%;
}

#text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tem-dur {
    background-color: #333333;
    margin: 10px;
}

#tem-dur h2 {
    color: #f8c783;
}

#tem-dur a {
    color: #333333;
    background-color: #f8c783;
    border-radius: 5px;
    text-decoration: none;
}

#datos-ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

#datos-ul div ul {
    list-style: none;
}

#datos-extra {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 750px;
}

#es-si {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 750px;
    height: auto;
}

#es-si a {
    text-align: center;
    color: #ece056;
    background-color: #1F1717;
    border-radius: 5px;
    margin: 15px;
    
}
#inscribite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*finaliza estilos ingresantes*/
/*comienza estilos sobre nosotros*/

#main-nos {
    background-color: #1F1717;
    color: #e9eaec;
}

#trayectoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
}

#tutores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

#perfiles-tutores {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: auto;
    font-weight: bold;
}

#perfiles-tutores div {
    display: grid;
}

#perfiles-tutores div p {
    font-size: 30px;
    text-align: center;
}


#perfiles-tutores div img {
    width: 100%;
    height: 100%;
    align-items: center;
}

#profe1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof1-texto {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

}

#profe2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof2-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}

#profe3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

}


#prof3-texto {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

}

#auspiciantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

#auspiciantes div a {
    display: block;
    font-size: 25px;
    color: #e9eaec;
    border-radius: 5px;
    border-style: solid;
    border-color: #e9eaec;
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

#marcas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    margin: 35px;
}

#marcas img {
    width: 150px;
    height: 150px;
}


#auspiciantes li {
    list-style: none;
}

/*finaliza estilos sobre nosotros*/
/*comienza estilos cursos*/

#main-cursos {
    background-color: #1F1717;
    color: #e9eaec;
}

.secciones-cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 45px;
    gap: 25px;
}

.titu-curso {
    text-align: center;
}

.texto-curso {
    text-align: center;

}

.img-curso {
    width: auto;

}

.mod-y-dur {
    text-align: center;

}

.link-cursos {
    text-align: center;

}

.link-cursos a {
    color: #f8c783;
    background-color: #333333;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;

}

section div img {
    width: 100%;
}
#barista .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#barista img {

    width: 300px;
    height: 400px;
}

#flair .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flair img {

    width: 300px;
    height: 500px;
}

/*finaliza estilos cursos*/
/*comienza estilos contacto*/

            /*comienza estilo footer DISP.TACT.GRAN-TAMAÑO*/
footer {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1F1717;
    color: #e9eaec;
    font-family: "Titillium Web", sans-serif;
    margin-top: 15px;

}


footer div {
    text-align: center;
    font-size: 18px;
    text-shadow: #ece056;
}

footer h3 {
    text-align: center;
}

#footer-gridcont {
    display: flex;
    width: 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

#footer-gridcont div i {

    font-size: 50px;
}
#footer-gridcont #facebook a {
    color: rgb(73, 154, 247);

}

#footer-gridcont #Instagram a {
    color: rgb(197, 124, 226);
}

#footer-gridcont #Youtube a {
    color: rgb(221, 73, 73);

}

#footer-gridcont #twitter a {
    color: rgb(107, 252, 252);
    border-radius: 50%;

}


footer div p {
    font-size: 14px;
    color:#f3eae8c7;
    padding-top: 25px;
    text-align: center;
}
            /*finaliza estilo footer*/

}

@media (min-width:1024px) {                            /* mediaquery disp. escritorio */



    /*comienzo estilo header*/
header {                         
        display: flex;
        flex-direction: row;
        
        grid-template-columns: 1fr 1fr 5fr ;
        grid-template-rows: 3fr ;
        justify-content: space-evenly;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        position: sticky;
        z-index: 10;
        top: 20px;
        background-color: #1F1717;
        border-radius: 5px;
    }
    
header #logo {
        margin-right: 10px;
    }
    
header #titulo {
        align-items: center;
        text-align: left;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-size: 20px;
        color: #fcfdff;
        padding-left: 5px;
        margin: 0px;
    }
    
    
    
#logoPag {
    
        border-style: solid;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        border-color: #f3eae8;
    }
    
    
    
header nav {
        justify-content: center;
        list-style-type: none;
        text-align: center;
        
    
    }
    
nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin: 10px;
        padding-left: 25px;
        list-style: none;
    }
    
.itemNav {
        display: inline-block;
        line-height: 40px;
        font-size: 12px;
        font-weight: bold;
    }
    
.itemNav a {
        padding: 6px 16px 6px 16px;
        background-color: #fae6d0;
        border: solid #1F1717 ;
        text-decoration:none;
        color: #1F1717;
    }
    
.itemNav a:hover {
        background-color: #333333;
        color: #ffffff;
    }                               



    
        /* finaliza estilo header*/   
        /*comienza estilo main*/



main {
    font-family: "Titillium Web", sans-serif;
    align-items: center;
    position: relative;
}


/*inicio estilo index*/
#eslogan {
    background-image: url(../imagenes/perfil-graduado.jpg);
    background-size:cover;
    width: 100%;
    height: 400px;
    text-align: left;
    font-size: 25px;
    padding: 20px;
    justify-content: left;
}

#eslogan div {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

#eslogan div h2 {
    font-size: 30px;
    background-color: #1f171771;
    color: #fcf5ed;
}

#eslogan div p {
    background-color: #1f171771;
    color: #fcf5ed;
    font-size: 20px;
}

#eslogan div img {
    display: none;
}

.textos-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 10px;
    text-align: center;
    font-size: 20px;
    color: #f3eae8;
}

.textos-inicio span {
    display: block;
    font-weight: bold;
    color: #1F1717;
    font-size: 30px;
    margin-top: 30px;
}

#imagenes-inicio {
    width: 100%;
    margin: auto;

}

#img-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 10px;
    padding: 15%;


}

#img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#img3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}


#img4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

}


#img5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

}


#img6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}

.img-inicio {
    width: 100%;
    object-fit: cover;
}

#vid-muest div {
    margin-left:  65px;
    margin-right: 65px;
}

#vid-muest div iframe {
    width: 100%;
}
/*finaliza estilo index*/

/*comienza estilo contacto*/

#sucursales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    text-align: center;
} 

#sucursales h2 {
    font-size: 35px;
    color: #e9eaec;
    text-decoration: underline;
    text-decoration-color: #e9eaec;
}

#sucursales div {
    width: 500px;

}

#sucursales div iframe {
    width: 100%;
    border-style: solid;
    border-color: #f8c783;
}

#sucursales div p {
    font-size: 25px;
    margin-bottom: 60px;
}

#medios-contacto {
    background-color: #333333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 200px;
}

#medios-contacto p {
    font-size: 25px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    gap: 25px;
    background-color: #fae6d0;
    color: #333333;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 15px;

}

#text {
    width: 250px;
    height: 8rem;
    text-align: center;
    text-wrap: wrap;
    
}

#boton-cont {
    width: 80px;
    height: 50px;
}

/*finaliza estilo contacto*/

/*comienza estilo cursos*/

#main-cursos {
    background-color: #1F1717;
    color: #e9eaec;
}

.secciones-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.titu-curso {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.texto-curso {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}

.img-curso {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

.mod-y-dur {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;

}

.link-cursos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;

}

.link-cursos a {
    color: #f8c783;
    background-color: #333333;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;

}

section div img {
    width: 100%;
}
#barista .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#barista img {

    width: 400px;
    height: 600px;
}

#flair .img-curso {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flair img {

    width: 300px;
    height: 500px;
}

/*finaliza estilo cursos*/

/*comienza estilos ingresantes*/

#main-ingres {
    background-color: #1F1717;
    color: #e9eaec;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

#ingre1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}


#text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tem-dur {
    background-color: #333333;
    margin: 10px;
}

#tem-dur h2 {
    color: #f8c783;
}

#tem-dur a {
    color: #333333;
    background-color: #f8c783;
    border-radius: 5px;
    text-decoration: none;
}

#datos-ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

#datos-ul div ul {
    list-style: none;
}

#datos-extra {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 750px;
}

#es-si {
    margin: 20px;
    background-color: #fae6d0;
    color: #333333;
    border-style: solid;
    border-radius: 5px;
    border-color: #f8c783;
    width: 750px;
    height: auto;
}

#es-si a {
    text-align: center;
    color: #ece056;
    background-color: #1F1717;
    border-radius: 5px;
    margin: 15px;
    
}
#inscribite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*finaliza estilos ingresantes*/

/*comienza estilo nosotros*/

#main-nos {
    background-color: #1F1717;
    color: #e9eaec;
}

#trayectoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
}

#tutores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
}

#perfiles-tutores {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 1fr;
    align-items: top;
    justify-content: space-evenly;
    margin: 40px;
    gap: 25px;
    text-align: center;
    font-weight: bold;
}

#perfiles-tutores div img {
    width: 100%;
    height: auto;
    align-items: center;
}

#profe1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof1-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}

#profe2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#prof2-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}

#profe3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}


#prof3-texto {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;

}

#auspiciantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    border-color: #f8c783;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

#auspiciantes div a {
    display: block;
    font-size: 25px;
    color: #e9eaec;
    border-radius: 5px;
    border-style: solid;
    border-color: #e9eaec;
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

#marcas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    margin: 35px;
}

#marcas img {
    width: 150px;
    height: 150px;
}


#auspiciantes li {
    list-style: none;
}

/*finaliz estilo nosotros*/

    /*finaliza estilo main*/



    /*comienza estilo footer*/
    footer {
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #1F1717;
        color: #e9eaec;
        font-family: "Titillium Web", sans-serif;
        margin-top: 15px;
    
    }
    
    
    footer div {
        text-align: center;
        font-size: 18px;
        text-shadow: #ece056;
    }
    
    footer h3 {
        text-align: center;
    }
    
    #footer-gridcont {
        display: flex;
        width: 1fr;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        row-gap: 1rem;
        column-gap: 2rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #footer-gridcont div i {
    
        font-size: 70px;
    }
    #footer-gridcont #facebook a {
        color: rgb(73, 154, 247);
    
    }
    
    #footer-gridcont #Instagram a {
        color: rgb(197, 124, 226);
    }
    
    #footer-gridcont #Youtube a {
        color: rgb(221, 73, 73);
    
    }
    
    #footer-gridcont #twitter a {
        color: rgb(107, 252, 252);
        border-radius: 50%;
    
    }
    
    
    footer div p {
        font-size: 10px;
        color:#f3eae8c7;
        padding-top: 25px;
        text-align: center;
}
/*finaliza estilo footer*/



}