

//nav header + MQ

nav {


    justify-content: center;
    list-style-type: none;
    text-align: center;
    grid-column: span 2;

    ul {
        @include prop-flex (flex,column,space-evenly,center);
        flex-wrap: wrap;
        gap: 5px;
        margin: 10px;
        padding: 0;
        list-style: none;


        @include mq-480 {
            @include prop-flex (flex,row,space-evenly,center);
        }

        @include mq-780 {
            @include marg-padd (0%,0%);
            
        }

        @include mq-1024 {
            padding-left: 20px;
        }


        .itemNav {
            display: inline-block;
            line-height: 30px;
            font-size: 12px;
            font-weight: bold;

            a {
                padding: 6px 16px 6px 16px;
                background-color: $color-secundario-fondo ;
                border: 1.5px solid $color-white ;
                border-radius:2rem;
                text-decoration:none;
                color: $color-borde-divs;

                @include mq-1024 {
                    border: solid $color-white;
                    border-radius: 10px;
                
                }
            }
            @include mq-1024 {
                a:hover {
                    background-color: $color-terciario-fondo;
                    color: $color-principal-fondo;
                }
            }
        }
    }

}