//sass main de seccion cursos + MQ

#main-cursos {
    background-color: $color-principal-fondo;

}

.secciones-cursos {
    @include prop-flex (flex,column,space-evenly,center);
    margin: 20px;
    gap: 15px;

    @include mq-780 {
        margin: 45px;
        gap: 25px;
    }

    @include mq-1024 {
        @include prop-grid (grid,space-evenly,center,1fr 1fr,1fr 2fr 1fr 1fr);
        margin: 40px;
        gap: 15px;
        border-color: $color-borde-divs;
        border-style: solid;
        border-radius: 5px;
        padding: 25px;

    }
}

@include mq-1024 {

    .titu-curso {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;

        h2 {
            font-size: 40px;
            font-weight: bold;
            margin: auto;
        }
    }

    .texto-curso {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

    
    }

    .mod-y-dur {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: $color-secundario-fondo;
        border-style: solid;
        margin-left: 100px;
        margin-right: 100px;
    
    }
}


.img-curso {
    width: auto;

    @include mq-1024 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}

.link-cursos {

    @include mq-1024{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    a {
        color: $color-borde-divs;
        background-color: $color-secundario-fondo;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px;
    }

}

section div img {
    width: 100%;
}

#barista .img-curso {
    @include prop-flex (flex,column,center,center);

    img {

        width: 300px;
        height: 400px;

        @include mq-1024 {
            width: 400px;
            height: 600px;
        }
    }
}


#flair .img-curso {
    @include prop-flex (flex,column,center,center);

    img {

        width: 300px;
        height: 500px;
    }
}

