// sass del main de seccion ingresantes + MQ

#main-ingres {
    background-color: $color-principal-fondo;
    font-size: 20px;
    margin: 10px;

    @include mq-1024 {
        margin: 20px;
    }
}

#ingre1 {
    @include prop-flex (flex,column,space-evenly,center);
    gap: 15px;
    margin: 25px;
    padding: 15px;
    
    @include mq-1024 {
        @include prop-flex (flex,row,space-evenly,center);
        border-style: solid;
        border-radius: 5px;
    }
}

#img-ingreso {
    @include prop-grid (grid,center,center,auto,auto);
    width: auto;

    @include mq-780 {
        width: 300px;
    }

    @include mq-1024 {
        width: 100%;
        margin: 20px;
    }

    img {
        width: 100%;
    }

}


#text1 {
    @include prop-flex (flex,column,center,center);
}

#tem-dur {
    background-color: $color-secundario-fondo;
    margin: 10px;
    padding: 10px;

    h2 {
        color: $color-borde-divs;
    }

    a {
        color: $color-secundario-fondo;
        background-color: $color-borde-divs;
        border-radius: 5px;
        text-decoration: none;
    }
}


#datos-ul {
    @include prop-flex (flex,column,space-evenly,center);
    text-align: left;
    gap: 25px;
    padding: 10px;

    div {
        ul {
            list-style: none;
        }
    }
}

#datos-extra {
    margin: 20px;
    background-color: $color-terciario-fondo;
    color: $color-secundario-fondo;
    border-style: solid;
    border-radius: 5px;
    border-color: $color-borde-divs;
    width: 100%;
    padding: 10px;
    

    @include mq-780 {
        width: 750px;
    }

    
}

#es-si {
    margin: 20px;
    background-color: $color-terciario-fondo;
    color: $color-secundario-fondo;
    border-style: solid;
    border-radius: 5px;
    border-color: $color-borde-divs;
    width: 100%;
    height: auto;
    padding: 10px;

    @include mq-780 {
        width: 750px;
    }

    a {
        text-align: center;
        color: #ece056;
        background-color: #1F1717;
        border-radius: 5px;
        margin: 15px;
        
    }
}

#inscribite {
    @include prop-flex (flex,row,center,center)
}